<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Create Scholarship</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>Create Scholarship</h1>

        </header>

        <main id="content">
            <navigation></navigation>
            <div id="createScholarship">
                <h1>Create New Scholarship</h1>
                <form @submit.prevent="createScholarship()">
                    <fieldset>
                        <legend>Details:</legend>
                        <p>
                            <label for="scholarshipName">Scholarship name:</label>
                            <input type="text" id="scholarshipName" v-model="scholarship.scholarshipName" required>
                        </p>
                        <p>
                            <label for="subject">Subject:</label>
                            <input type="text" id="subject" v-model="scholarship.subject" required>
                        </p>
                        <p>
                            <label for="description">Description:</label>
                            <textarea id="description" v-model="scholarship.description" required></textarea>
                        </p>
                        <p>
                            <label for="provider">Provider:</label>
                            <input type="text" id="provider" v-model="scholarship.provider" required>
                        </p>
                        <p>
                            <label for="duration">Duration:</label>
                            <input type="text" id="duration" v-model="scholarship.duration" required>
                        </p>
                        <p>
                            <label for="amount">Amount:</label>
                            <input type="text" id="amount" v-model="scholarship.amount" required>
                        </p>
                    </fieldset>
                    <div class="buttons">
                        <button class="submitButton" type="submit">Submit Scholarship</button>
                    </div>
                </form>
            </div>
        </main>
        <script type="module" src="js/scholarship-list.js"></script>
    </body>
</html>
