<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Edit Research</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>Staff Contacts</h1>
        </header>
        <div class="editResearch">
            <navigation></navigation>
        </div>

        <main id="content">
            <div id="editResearch">
                <h1>Edit Event</h1>
                <navigation></navigation>
                <form @submit.prevent="editResearch()">
                    <fieldset>
                        <legend>Research Project Details:</legend>
                        <p>
                            <label for="newName">Scholarship name:</label>
                            <input type="text" id="newName" v-model="researchToUpdate.researchName" required>
                        </p>
                        <p>
                            <label for="subject">Subject:</label>
                            <input type="text" id="subject" v-model="researchToUpdate.subject" required>
                        </p>
                        <p>
                            <label for="startDate">Start Date:</label>
                            <input type="date" id="startDate" v-model="researchToUpdate.startDate" required>
                        </p>
                        <p>
                            <label for="endDate">End Date:</label>
                            <input type="date" id="endDate" v-model="researchToUpdate.endDate" required>
                        </p>
                        <p>
                            <label for="description">Description:</label>
                            <textarea id="description" v-model="researchToUpdate.description" required></textarea>
                        </p>

                    </fieldset>
                    <div class="buttons">
                        <td><button type="button" @click.prevent="editResearch(researchToUpdate)">Edit Research Project</button></td>
                    </div>
                </form>
            </div>
        </main>
        <script type="module" src="js/research-list.js"></script>
    </body>
</html>
