<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en">
    <head>
        <title>Find Research Projects</title>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
        <link rel="stylesheet" href="style.css">
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main id="content">
            <header>
                <h1>Maori Opportunities and Research Projects</h1>
            </header>
            <div class="research">
                <navigation></navigation>
            </div>
            <div>
                <h2>Our Research Projects</h2>
                <div id="categories">
                    <div class="dropdown">
                        <button class="dropbtn" @click.prevent="getAllResearch()">All Events</button>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Subjects</button>
                        <div class="dropdown-content">
                            <a v-for="subject in subjects" @click.prevent="filterBySubject(subject)">{{subject}}</a>
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Subject</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Join Research Project</th>
                        <th>Edit Research Project</th>
                        <th>Delete Research Project</th>
                    </tr>
                    <tr v-for="r in researchList">
                        <td>{{r.researchName}}</td>
                        <td>{{r.description}}</td>
                        <td>{{r.subject}}</td>
                        <td>{{r.startDate}}</td>
                        <td>{{r.endDate}}</td>
                        <td><button type="button" @click.prevent="goToApply(r)">Register Interest</button></td>
                        <td><button type="button" @click.prevent="goToEditResearch(r)">Edit</button></a></td>
                        <!-- deleteEvent button. As of now any staff can delete any event. -->
                        <!-- When we add account services we will deal with this. -->
                        <!-- Perhaps by moving the delete button to a "Your Managed Events" page -->
                        <td><button type="button" @click.prevent="deleteResearch(r.researchId)">Delete</button></td>
                    </tr>
                </table>
            </div>
        </main>
        <script type="module" src="js/research-list.js"></script>
    </body>
</html>
